.contacts__innerpage-header {
    background: url('../img/bg-contacts.jpg') 50% 50% no-repeat;
}

.contacts__box {
    display: grid;
    grid-template-columns: 560px 468px;
    grid-gap: 150px;
    padding-bottom: 70px;
}