.home {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        box-sizing: border-box;
        padding-top: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: url('../img/shadow.png') 50% 50% no-repeat;
    }
}